<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>TMS</title>

  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='bootstrap.min.css') }}"/>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}"/>
</head>

<body>
<!--Navigation bar-->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">TMS<span>-TCS</span></a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
        {% if g.user_type == "student" %}
          {% if g.student_is_liaison == True %}
            <li><a href="/team/requests">Team Requests</a></li>
          {% endif  %}
          <li><a href="/team/create">Create Team</a></li>
          <li><a href="/team/join">Join Team</a></li>
          <li class="btn-emph"><a href="/sign-out">Sign Out</a></li>
        {% elif g.user_type == "instructor" %}
          <li><a href="/team/parameters">Set Team Parameters</a></li>
          <li><a href="/team/visualize">Visualize Teams</a></li>
          <li class="btn-emph"><a href="/sign-out">Sign Out</a></li>
        {% else %}
          <li><a href="/#features">Features</a></li>
          <li><a href="/register">Register</a></li>
          <li class="btn-emph"><a href="/sign-in">Sign In</a></li>
        {% endif %}
        </ul>
      </div>
    </div>
  </nav>
  <!--/ Navigation bar-->

  <div style="margin-top:100px;">
  
      <div>
        <div>
          {% with messages = get_flashed_messages() %}
            {% if messages %}
              {% for message in messages %}
                <div class="alert alert-success text-center" role="alert">
                    {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
        </div>

      <div>

          <div class="col-sm-3"></div>

          <div class="login-body col-sm-6 text-center">
              <div class="panel panel-primary">
                <div class="panel-heading">Dashboard</div>
                <div class="panel-body">
                  <h4 class="text-uppercase text-primary">{{ g.user_first_name }} &nbsp {{ g.user_last_name }}</h4>
                  <h6 class="text-uppercase text-danger">{{ g.user_type }}</h6>
                  <h5>{{ g.user }}</h5>
                  {% if g.user_type == "student" %}
                    <h5 class="text-uppercase">Student ID: {{ g.student_number }}</h5>
                  {% endif %}
                  {% if g.student_is_liaison == True %}
                    <h5 class="text-uppercase">TEAM LIAISON FOR: {{ g.student_team_name }}</h5>
                  {% elif ((g.student_is_liaison == False) and (g.user_type == "student") and (g.student_team_name != None)) %}
                    <h5 class="text-uppercase">Team: {{ g.student_team_name }}</h5>
                  {% elif ((g.student_is_liaison == False) and (g.user_type == "student") and (g.student_team_name == None)) %}
                      <h5 class="text-info">You are currently not a part of any team</h5>
                  {% endif %}
                </div>
              </div>
              
          </div>

          <div class="col-sm-3"></div>

        </div>
      </div>
   
  </div>
  <!--Footer-->
  <footer id="footer" class="footer col-xs-12">
    <div class="container text-center">
      ©2019 StarTech. All rights reserved
    </div>
  </footer>
  <!--/ Footer-->

</body>

</html>