<!DOCTYPE html>
<html lang="en">

<head>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script type=text/javascript>
  $(function(){

    $("#studentId").click(function(){
      $("#studentNumberDiv").show();
      $("#studentNumInput").attr("required", true)
    })
    $("#instructorId").click(function(){
      $("#studentNumberDiv").hide();
      $("#studentNumInput").attr("required", false)
    })

  });
  </script>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>TMS</title>

  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='bootstrap.min.css') }}"/>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}"/>
</head>

<body>
  <!--Navigation bar-->
  <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">TMS<span>-TCS</span></a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav navbar-right">
          {% if g.user %}
            <li><a href="/create-team">Create Team</a></li>
            <li><a href="/create-team">Join Team</a></li>
            <li class="btn-emph"><a href="/sign-out">Sign Out</a></li>
          {% else %}
            <li><a href="/#features">Features</a></li>
            <li><a href="/register">Register</a></li>
            <li class="btn-emph"><a href="/sign-in">Sign In</a></li>
          {% endif %}
          </ul>
        </div>
      </div>
    </nav>
  <!--/ Navigation bar-->

  <div style="margin-top:100px;">
  
      <div>
        <div>

          {% with messages = get_flashed_messages() %}
            {% if messages %}
              {% for message in messages %}
                <div class="alert alert-success text-center" role="alert">
                    {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}

          <h4 class="text-center">Register</h4>
        </div>

      <div>

          <div class="col-sm-3"></div>

          <div class="login-body col-sm-6 text-center">
            <p class="login-msg">Register to get started</p>
            <div class="form-group">
              <form method="POST" id="registerForm">
                <div class="form-group has-feedback">
                    <!----- First Name ------->
                    <input class="form-control" placeholder="First Name" id="" type="text" name="first_name" required/>
                </div>

                <div class="form-group has-feedback">
                  <!----- Last Name ------->
                  <input class="form-control" placeholder="Last Name" id="" type="text" name="last_name" required/>
                </div>

                <div class="form-group has-feedback">
                  <!----- Email ------->
                  <input class="form-control" placeholder="Email Address" id="" type="email" name="email" required/>
                </div>

                <div class="form-group has-feedback">
                    <!----- Confirm Email ------->
                    <input class="form-control" placeholder="Confirm Email Address" id="" type="email" name="confirm_email" required/>
                </div>
  
                <div class="form-group has-feedback">
                  <!----- Password ------->
                  <input class="form-control" placeholder="Password" id="" type="password" name="password" required/>
                </div>

                <div class="form-group has-feedback">
                    <!----- Confirm password ------->
                    <input class="form-control" placeholder="Confirm Password" id="" type="password" name="confirm_password" required/>
                </div>

                <p>I am a:&nbsp;&nbsp;
                  <label class="radio-inline"><input type="radio" name="user_type" value="student" id="studentId" checked>Student</label>
                  <label class="radio-inline"><input type="radio" name="user_type" value="instructor" id="instructorId">Instructor</label>
                </p>

                <div class="form-group has-feedback" id="studentNumberDiv">
                    <!----- Student Number If Student ------->
                    <input class="form-control" placeholder="Student Number" type="number" name="student_number" id="studentNumInput" required/>
                </div>

                <div class="row">
                  <div class="col-xs-12">
                    <button type="submit" class="btn btn-blue btn-block btn-flat">Register</button>
                  </div>
                </div>
              </form>
            </div>
          </div>

          <div class="col-sm-3"></div>

        </div>
      </div>
   
  </div>
  <!--Footer-->
  <footer id="footer" class="footer col-xs-12">
    <div class="container text-center">
      ©2016 StarTech. All rights reserved
    </div>
  </footer>
  <!--/ Footer-->

</body>

</html>