<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TMS</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='bootstrap.min.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}"/>
</head>

<body>
<!--Navigation bar-->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">TMS<span>-TCS</span></a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/#features">Features</a></li>
                <li><a href="/register">Register</a></li>
                <li class="btn-emph"><a href="/sign-in">Sign In</a></li>
            </ul>
        </div>
    </div>
</nav>
<!--/ Navigation bar-->

<div style="margin-top:100px;">

    <div>
        <div>
            <h4 class="text-center">Setup for Team Parameters</h4>
        </div>

        <div>

            <div class="col-sm-3"></div>

            <div class="login-body col-sm-6 text-center">
                <p class="login-msg">Set up team parameters to allow team creation</p>
                <div class="form-group">
                    <form action="http://localhost:5000/team/parameters" method="POST">
                        <div class="form-group has-feedback">
                            <!----- min team size -------------->
                            Minimum team size: <input class="form-control" name="min_size" id="" type="number" min="1"/>
                        </div>
                        <div class="form-group has-feedback">
                            <!----- max team size -------------->
                            Maximum team size: <input class="form-control" name="max_size" id="" type="number" min="1"/>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <button type="submit" class="btn btn-blue btn-block btn-flat">Set Parameters</button>
                            </div>
                            <br>
                            {% if error %}
                                <p class=error><strong>Error:</strong> {{ error }}
                            {% endif %}
                        </div>
                    </form>
                </div>
            </div>

            <div class="col-sm-3"></div>

        </div>
    </div>

</div>
<!--Footer-->
<footer id="footer" class="footer col-xs-12">
    <div class="container text-center">
        ©2016 StarTech. All rights reserved
    </div>
</footer>
<!--/ Footer-->

</body>

</html>